body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.nav_container{
    height: 80px;
    width: screen;
    background-color: black;
    display: flex;
   
      
}
.nav_link{
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: space-between;
    gap: 50px;
    margin: auto;
    
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    
}

.logo {
    margin: auto;
    color: #fff;
}

.logo a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    color: #880808;
    
}
nav a.active {
  color:   border-bottom: 2px solid rgb(134, 18, 18);
  font-weight: bold;
  border-bottom: 2px solid rgb(134, 18, 18);
}

/*Hero Section*/

.hero_section {
    height: 100vh;
    width: 100vw;
    padding-top: 1px;

}
.hero_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
   
    
    
    
}