{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Marketplace{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

</head>


<nav>
    <a href="{% url 'main:home' %}">Home</a>
    <a href="{% url 'services:services' %}">Services</a>
    <a href="{% url 'about:about' %}">About</a>
    <a href="{% url 'contact:contact' %}">Contact</a>
    <a href="{% url 'blog:blog' %}">Blog</a>
   
</nav>

{% block content %}
{% endblock %}

</body>
</html>
