
{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}




<h1>Welcome to Our Marketplace</h1>
<p>Manufacturers meet buyers. </p>
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Marketplace</title>
</head>
<body>
    <h1>Home Page</h1>

<a href="{% url 'main:product' %}">View Products</a><br><br>

<a href="{% url 'main:product_details' 5 %}"> View Product 5 </a>
    <h1>Welcome to Our Marketplace</h1>
    <p>Manufacturers meet buyers.</p>
     <h1>I'm gonna run this shit right here</h1>
{% endblock %}
</body>
</html>
