
{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}



{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Marketplace</title>
</head>
<body>
    <section class="hero_section">
        <div class="hero_container">
            < img src

            <div class="">
                <h1>Home Page</h1>
            </div>

        
            <div class=" hero_links">
                <a href="{% url 'main:product' %}">View Products</a><br><br>
                <a href="{% url 'about:about' %}">Learn more about us</a><br><br>
                <a href="{% url 'blog:blog' %}">Visit our Blog</a><br><br>
                <a href="{% url 'services:services' %}">Check out Our Services</a><br><br>
                <a href="{% url 'contact:contact' %}">Contact Us Now</a><br><br>
                <a href="{% url 'main:product_details' 5 %}"> View Product 5 </a>
            </div>
            <div class="hero_text">    
                <h1>Welcome to Our Marketplace</h1>
                <p>Manufacturers meet buyers.</p>
                <h1>I'm gonna run this shit right here</h1>
            </div>
        </div>
    </section>
{% endblock %}
</body>
</html>
